<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test log</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function fetch_log(log_path) {
            $.ajax({
                type: "post",
                url: log_path
            }).done(function(data) {
                $("#display").html(data.log);
            });
        }

        $(document).ready(function() {
            setInterval("fetch_log("+"\"{{ log_path }}\""+")", 2000);
        });
    </script>
</head>
<body>
    <div id="display">
        {% for line in log %}
        {{ line }} <br/>
        {% endfor %}
    </div>
</body>
</html>